Saved_Models/
HAR_data/
*.csv
*.png
*.pdf
*.pyc
wandb/
Datasets/mhealth+dataset/data
Datasets/mhealth+dataset/MHEALTHDATASET
Datasets/pamap2+physical+activity+monitoring/PAMAP2_Dataset/PAMAP2_Dataset/Optional
Datasets/pamap2+physical+activity+monitoring/PAMAP2_Dataset/PAMAP2_Dataset/Protocol
Datasets/pamap2+physical+activity+monitoring/PAMAP2_Dataset/PAMAP2_Dataset/*.pdf
Datasets/pamap2+physical+activity+monitoring/PAMAP2_Dataset/PAMAP2_Dataset/*.npy
Datasets/pamap2+physical+activity+monitoring/PAMAP2_Dataset.zip
Datasets/pamap2+physical+activity+monitoring/*.pdf
Datasets/RealWorld/imu
Datasets/RealWorld/realworld_30hz_w10
Datasets/RealWorld/realworld2016_dataset
Datasets/wisdm+smartphone+and+smartwatch+activity+and+biometrics+dataset/wisdm-dataset/wisdm-dataset/arff_files
Datasets/wisdm+smartphone+and+smartwatch+activity+and+biometrics+dataset/wisdm-dataset/wisdm-dataset/arffmagic-master
Datasets/wisdm+smartphone+and+smartwatch+activity+and+biometrics+dataset/wisdm-dataset/wisdm-dataset/raw
Datasets/wisdm+smartphone+and+smartwatch+activity+and+biometrics+dataset/wisdm-dataset/wisdm-dataset/wisdm_30hz_w10
Datasets/wisdm+smartphone+and+smartwatch+activity+and+biometrics+dataset/wisdm-dataset/wisdm-dataset/*.swp
Datasets/wisdm+smartphone+and+smartwatch+activity+and+biometrics+dataset/wisdm-dataset/wisdm-dataset/*.pdf
Datasets/wisdm+smartphone+and+smartwatch+activity+and+biometrics+dataset/wisdm-dataset/wisdm-dataset/*.pl
Datasets/wisdm+smartphone+and+smartwatch+activity+and+biometrics+dataset/wisdm-dataset/wisdm-dataset/*.txt
output
.ipynb_checkpoints/*
*.csv
*.sh
*.xml
.idea/*



# .git/